.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error-msg {
  border: 1px solid red;
  color: red;
  padding: 5px;
  margin: 5px;
}

input {
  border: 1px solid black;
  color: black;
  padding: 5px;
  margin: 5px;
}

.active-btn {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
